$tab-w: 1200px;
$mob-w: 920px;
$small-w: 500px;

@mixin border {
	$red: random(256)-1;
	$green: random(256)-1;
	$blue: random(256)-1;
 	border: 1px solid red;
 	border-color: rgb($red, $green, $blue);
}

@mixin placeholder-color($color) {
	&::-webkit-input-placeholder { /* WebKit browsers */
	  color: $color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  color: $color;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	  color: $color;
	}
}

@mixin button{
		display:inline-block;
		@include f-m;
		font-size:20px;
		color: #005db7;
		background: #86bef5;
		padding: 17px 35px;
		border-radius: 50px;
		margin-top: 20px;
		transition: 0.5s;
		&:hover{
			background: #005db7;
			color: #fff;
		}
}

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700');



@mixin f-r {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 400;
}

@mixin f-m {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 500;
}

@mixin f-sb {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 600;
}

@mixin f-b {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 700;
}


/* /Fonts */




/* Global */
html {
	margin: 0 !important;
}
body {
	position: relative;
	margin: 0;
  	padding: 0;
  	@include f-r;
  	font-size: 25px;
  	color: #232323;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
	box-sizing: border-box;
	direction: ltr;
}

p {
    margin: 0;
}
ul {
	-webkit-padding-start: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
section {
	width: 100%;
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
}

.section-inner {
	max-width: 1250px;
	padding: 0 10px;
	width: 100%;
}

a:visited{
	color:#333333;
}
.sticky{
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}
@media screen and(max-width:500px){
	.mobile{
		display:none;
	}
}

@import './parts/index.scss';
@import './parts/inner.scss';
@import './parts/about.scss';

