/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700");
/* /Fonts */
/* Global */
html {
  margin: 0 !important; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #232323; }

a {
  text-decoration: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: ltr; }

p {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden; }

.section-inner {
  max-width: 1250px;
  padding: 0 10px;
  width: 100%; }

a:visited {
  color: #333333; }

.sticky {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25); }

@media screen and (max-width: 500px) {
  .mobile {
    display: none; } }

/* ---------------------- header ---------------------- */
header {
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  header .section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin: 0 auto; }
  header .desktop {
    display: block; }
  header .mobile {
    display: none; }
  header .cont-logo {
    margin-right: 20px; }
  header .main-menu {
    display: inline-block;
    vertical-align: middle; }
    header .main-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .main-menu ul li {
        margin: 0 10px; }
        header .main-menu ul li a {
          font-family: 'Cabin Condensed', sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #393939;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          text-transform: uppercase; }
        header .main-menu ul li.current_page_item a, header .main-menu ul li:hover a {
          color: #4a9ff0; }
  header .icons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px; }
    header .icons .icon {
      width: 40px;
      height: 40px;
      background: #005db7;
      border-radius: 100%;
      position: relative;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer; }
      header .icons .icon:hover {
        background: #4A9FF0; }
      header .icons .icon .inner {
        font-family: 'Cabin Condensed', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

/* --------------- Toggle button ---------------- */
.toggle-button {
  width: 40px;
  height: 40px;
  position: relative;
  top: 3px;
  background: #006cb7;
  z-index: 103;
  cursor: pointer;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  @media only screen and (max-width: 1000px) {
    .toggle-button {
      display: inline-block; } }
  .toggle-button div {
    width: 22px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: top 0.5s, opacity 0.5s, width 0.5s, -webkit-transform 1s;
    transition: top 0.5s, opacity 0.5s, width 0.5s, -webkit-transform 1s;
    transition: top 0.5s, transform 1s, opacity 0.5s, width 0.5s;
    transition: top 0.5s, transform 1s, opacity 0.5s, width 0.5s, -webkit-transform 1s; }
  .toggle-button .inner {
    position: relative;
    left: 5px;
    top: 5px; }
  .toggle-button div:nth-child(1) {
    top: 5px;
    left: 4px; }
  .toggle-button div:nth-child(2) {
    top: 13px;
    left: 4px; }
  .toggle-button div:nth-child(3) {
    top: 21px;
    left: 4px; }
  .toggle-button.open div:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .toggle-button.open div:nth-child(2) {
    opacity: 0;
    width: 1px; }
  .toggle-button.open div:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

/* --------------- /Toggle button ---------------- */
/* --------------- Mobile menu ---------------- */
.mobile-menu-cont {
  direction: rtl;
  padding: 10px 20px;
  background: #006cb7;
  position: absolute;
  top: 50px;
  height: 900px;
  z-index: 101;
  left: 0;
  right: 0;
  display: none; }
  .mobile-menu-cont .mobile-menu > li {
    position: relative;
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid rgba(24, 24, 24, 0.25); }
    .mobile-menu-cont .mobile-menu > li a {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 400;
      font-size: 22px;
      padding: 3px 10px;
      color: #fff;
      white-space: nowrap;
      text-transform: uppercase; }
      .mobile-menu-cont .mobile-menu > li a:hover {
        color: #1c1c1c; }
    .mobile-menu-cont .mobile-menu > li#menu-item-1462 a {
      padding-right: 35px;
      background-image: url("../images/icons/en.png");
      background-repeat: no-repeat;
      background-position: right center; }
    .mobile-menu-cont .mobile-menu > li.current_page_item, .mobile-menu-cont .mobile-menu > li.current-menu-item > a {
      color: #0ca0c9; }
    .mobile-menu-cont .mobile-menu > li .sub-menu {
      padding-top: 10px; }
      .mobile-menu-cont .mobile-menu > li .sub-menu li {
        margin-top: 5px; }
        .mobile-menu-cont .mobile-menu > li .sub-menu li a {
          padding-right: 10px;
          font-size: 18px; }
  .mobile-menu-cont .mobile-menu li.current-menu-item > a, .mobile-menu-cont .mobile-menu li.current_page_item > a {
    color: #0ca0c9; }
  .mobile-menu-cont .mobile-menu .open-arrow {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 14px;
    margin-right: 25px;
    position: absolute;
    top: 8px;
    left: 10px; }
    .mobile-menu-cont .mobile-menu .open-arrow span {
      position: relative;
      top: 2px; }
  .mobile-menu-cont .mobile-menu .rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    color: #cf0006; }

/* --------------- /Mobile menu ---------------- */
/* --------------------- /header Media Queries ---------------------- */
@media screen and (max-width: 1000px) {
  header {
    height: 50px; }
    header .cont-logo img {
      width: 200px; }
    header .mobile {
      display: block;
      background: tomato; }
    header .desktop {
      display: none; }
    header .icons .icon {
      display: none; } }

/* --------------------- /header ---------------------- */
/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
  position: relative;
  overflow: visible;
  margin-bottom: 80px;
  width: 100%; }
  @supports (-ms-ime-align: auto) {
    section.slider-top {
      overflow: hidden; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    section.slider-top {
      overflow: hidden; } }
  section.slider-top .decor {
    position: absolute;
    right: 0;
    top: 60%;
    z-index: 2;
    width: 30%; }
    section.slider-top .decor img {
      width: 100%; }
  section.slider-top .slider {
    position: relative; }
    section.slider-top .slider .item img {
      min-height: 360px; }
  section.slider-top .section-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1; }
    section.slider-top .section-inner .container {
      width: 50%;
      margin-right: 0;
      margin-left: auto; }
    section.slider-top .section-inner .title {
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 600;
      font-size: 56px;
      line-height: 50px;
      color: #005db7;
      text-transform: uppercase; }
      section.slider-top .section-inner .title span {
        font-size: 55px; }
    section.slider-top .section-inner .text {
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 400;
      font-size: 28px;
      color: #393939; }
    section.slider-top .section-inner .button {
      display: inline-block;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #005db7;
      background: #86bef5;
      padding: 17px 35px;
      border-radius: 50px;
      margin-top: 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500; }
      section.slider-top .section-inner .button:hover {
        background: #005db7;
        color: #fff; }
  @media screen and (max-width: 800px) {
    section.slider-top .slider .item img {
      width: auto;
      height: 360px; }
    section.slider-top .slider::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
    section.slider-top .decor {
      top: 70%; }
    section.slider-top .section-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1; }
      section.slider-top .section-inner .container {
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        text-align: center; }
      section.slider-top .section-inner .title {
        color: #fafafa; }
      section.slider-top .section-inner .text {
        color: lightgrey; } }
  @media screen and (max-width: 1100px) {
    section.slider-top {
      margin-bottom: 0; }
      section.slider-top .section-inner .title {
        font-size: 36px;
        line-height: 36px; }
        section.slider-top .section-inner .title span {
          font-size: 35px; }
      section.slider-top .section-inner .text {
        font-size: 18px; } }

@supports (-ms-ime-align: auto) {
  .section.slider-top {
    overflow: hidden; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section.slider-top {
    overflow: hidden; } }

/* --------------------- /Section slider-top ---------------------- */
/* --------------------- /Section Services ------------------------*/
.section-services {
  margin-bottom: 135px; }
  @media screen and (max-width: 1100px) {
    .section-services {
      margin-bottom: 0; } }
  .section-services .section-inner {
    max-width: 1250px;
    padding: 0 10px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
    .section-services .section-inner .service-text {
      width: 39%; }
      .section-services .section-inner .service-text h2 {
        color: #005DB7;
        text-transform: uppercase;
        font-size: 56px;
        margin-bottom: 30px; }
      .section-services .section-inner .service-text p {
        font-size: 18px;
        margin-bottom: 33px; }
      .section-services .section-inner .service-text .button {
        display: inline-block;
        font-family: 'Cabin Condensed', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #005db7;
        background: #86bef5;
        padding: 17px 35px;
        border-radius: 50px;
        margin-top: 20px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-family: 'Cabin Condensed', sans-serif;
        font-weight: 500; }
        .section-services .section-inner .service-text .button:hover {
          background: #005db7;
          color: #fff; }
      .section-services .section-inner .service-text .product {
        position: absolute;
        z-index: -1;
        top: 31%;
        left: 0px; }
        .section-services .section-inner .service-text .product img {
          width: 85%; }
        @media screen and (max-width: 1800px) {
          .section-services .section-inner .service-text .product {
            top: 28.5%; }
            .section-services .section-inner .service-text .product img {
              width: 80%; } }
        @media screen and (max-width: 1700px) {
          .section-services .section-inner .service-text .product {
            top: 27%; }
            .section-services .section-inner .service-text .product img {
              width: 75%; } }
        @media screen and (max-width: 1550px) {
          .section-services .section-inner .service-text .product {
            top: 26.5%; }
            .section-services .section-inner .service-text .product img {
              width: 67%; } }
        @media screen and (max-width: 1400px) {
          .section-services .section-inner .service-text .product {
            top: 26.3%; }
            .section-services .section-inner .service-text .product img {
              width: 62%; } }
        @media screen and (max-width: 1300px) {
          .section-services .section-inner .service-text .product {
            top: 26%; }
            .section-services .section-inner .service-text .product img {
              width: 53%; } }
        @media screen and (max-width: 1200px) {
          .section-services .section-inner .service-text .product {
            top: 25.5%; }
            .section-services .section-inner .service-text .product img {
              display: none; } }
    .section-services .section-inner .service-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
      .section-services .section-inner .service-list .service-list-uppper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 0 auto; }
        .section-services .section-inner .service-list .service-list-uppper .item {
          z-index: 3;
          width: 221px;
          height: 261px;
          background: whitesmoke;
          padding: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
                  flex-flow: column nowrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 15px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          padding: 0px; }
          .section-services .section-inner .service-list .service-list-uppper .item img {
            height: 84px; }
        @supports (-ms-ime-align: auto) {
          .section-services .section-inner .service-list .service-list-uppper .item {
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .section-services .section-inner .service-list .service-list-uppper .item {
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
        .section-services .section-inner .service-list .service-list-uppper .item:nth-child(2) {
          margin-right: 7.5px;
          margin-left: 7.5px; }
        .section-services .section-inner .service-list .service-list-uppper .item:hover {
          background: lightblue;
          color: #fff; }
      @supports (-ms-ime-align: auto) {
        .section-services .section-inner .service-list .service-list-bottom {
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
      .section-services .section-inner .service-list .service-list-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 0 auto; }
        .section-services .section-inner .service-list .service-list-bottom .item {
          z-index: 3;
          width: 221px;
          height: 261px;
          background: whitesmoke;
          padding: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
                  flex-flow: column nowrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0px;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
          .section-services .section-inner .service-list .service-list-bottom .item .service-img {
            max-height: 84px;
            height: 84px; }
        @supports (-ms-ime-align: auto) {
          .section-services .section-inner .service-list .service-list-bottom .item {
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .section-services .section-inner .service-list .service-list-bottom .item {
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
        .section-services .section-inner .service-list .service-list-bottom .item:nth-child(2) {
          margin-right: 7.5px;
          margin-left: 7.5px; }
        .section-services .section-inner .service-list .service-list-bottom .item:hover {
          background: lightblue;
          color: #fff; }
      @supports (-ms-ime-align: auto) {
        .section-services .section-inner .service-list .service-list-bottom {
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  @media screen and (max-width: 1000px) {
    .section-services .section-inner {
      width: 100%;
      -ms-flex-flow: wrap;
          flex-flow: wrap; }
      .section-services .section-inner .service-text {
        width: 100%; }
        .section-services .section-inner .service-text .button {
          margin-bottom: 20px; }
      .section-services .section-inner .service-list {
        width: 100%; } }
  @media screen and (max-width: 700px) {
    .section-services .section-inner .service-text h2 {
      font-size: 42px; }
    .section-services .section-inner .service-list .service-list-uppper .item {
      z-index: 3;
      width: 200px;
      height: 144px;
      padding: 3px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-uppper .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-uppper .item span {
        font-size: 16px; }
    .section-services .section-inner .service-list .service-list-bottom .item {
      width: 200px;
      height: 144px;
      padding: 3px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-bottom .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-bottom .item span {
        font-size: 16px; } }
  @media screen and (max-width: 600px) {
    .section-services .section-inner .service-text h2 {
      font-size: 42px; }
    .section-services .section-inner .service-list .service-list-uppper .item {
      z-index: 3;
      width: 180px;
      height: 130px;
      padding: 3px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-uppper .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-uppper .item span {
        font-size: 16px; }
    .section-services .section-inner .service-list .service-list-bottom .item {
      width: 180px;
      height: 130px;
      padding: 3px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-bottom .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-bottom .item span {
        font-size: 16px; } }
  @media screen and (max-width: 550px) {
    .section-services .section-inner .service-text h2 {
      font-size: 32px;
      margin: 15px 0 15px 0; }
    .section-services .section-inner .service-text p {
      font-size: 16px;
      margin-bottom: 12px; }
    .section-services .section-inner .service-list .service-list-uppper .item {
      z-index: 3;
      width: 160px;
      height: 115px;
      padding: 2px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-uppper .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-uppper .item span {
        font-size: 13px; }
    .section-services .section-inner .service-list .service-list-bottom .item {
      width: 160px;
      height: 115px;
      padding: 2px;
      margin-bottom: 5px; }
      .section-services .section-inner .service-list .service-list-bottom .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-bottom .item span {
        font-size: 13px; } }
  @media screen and (max-width: 500px) {
    .section-services .section-inner .service-text h2 {
      font-size: 32px;
      margin: 15px 0 15px 0; }
    .section-services .section-inner .service-text p {
      font-size: 16px;
      margin-bottom: 12px; }
    .section-services .section-inner .service-list .service-list-uppper {
      margin: 0; }
      .section-services .section-inner .service-list .service-list-uppper .item {
        z-index: 3;
        width: 140px;
        height: 110px;
        padding: 2px;
        margin-bottom: 5px; }
        .section-services .section-inner .service-list .service-list-uppper .item img {
          height: 60px;
          width: auto; }
        .section-services .section-inner .service-list .service-list-uppper .item span {
          font-size: 11px; }
    .section-services .section-inner .service-list .service-list-bottom {
      margin: 0; }
      .section-services .section-inner .service-list .service-list-bottom .item {
        width: 140px;
        height: 110px;
        padding: 2px;
        margin-bottom: 5px; }
        .section-services .section-inner .service-list .service-list-bottom .item img {
          height: 60px;
          width: auto; }
        .section-services .section-inner .service-list .service-list-bottom .item span {
          font-size: 11px; } }
  @media screen and (max-width: 500px) {
    .section-services .section-inner .service-text h2 {
      font-size: 32px;
      margin: 15px 0 15px 0; }
    .section-services .section-inner .service-text p {
      font-size: 16px;
      margin-bottom: 12px; }
    .section-services .section-inner .service-list .service-list-uppper .item {
      z-index: 3;
      width: 120px;
      height: 110px;
      padding: 2px;
      margin-bottom: 15px; }
      .section-services .section-inner .service-list .service-list-uppper .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-uppper .item span {
        font-size: 11px; }
    .section-services .section-inner .service-list .service-list-bottom .item {
      width: 120px;
      height: 110px;
      padding: 2px;
      margin-bottom: 15px; }
      .section-services .section-inner .service-list .service-list-bottom .item img {
        height: 60px;
        width: auto; }
      .section-services .section-inner .service-list .service-list-bottom .item span {
        font-size: 11px; } }

/* --------------------- /Section services-end ---------------------- */
/* --------------------- /Section about-start ------------------------*/
section.about {
  background: whitesmoke; }
  section.about .section-inner {
    max-width: 1250px;
    padding: 0 10px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px; }
    section.about .section-inner h2 {
      color: #005DB7;
      text-transform: uppercase;
      font-size: 56px;
      text-align: center; }
    section.about .section-inner h3 {
      font-size: 20px;
      text-align: center; }
    section.about .section-inner p {
      font-size: 18px;
      text-align: center; }
    @media screen and (max-width: 500px) {
      section.about .section-inner h2 {
        font-size: 36px;
        margin: 15px 0 15px 0; } }

/* --------------------- /Section about-end ------------------------*/
/* --------------------- /Section Technologies-pic-start ------------------------*/
section.technology-pic {
  background: url("../images/Technologies.png") no-repeat center 100%;
  width: 100%;
  margin-bottom: 80px; }
  @media screen and (max-width: 500px) {
    section.technology-pic {
      height: 190px;
      margin-bottom: 15px; } }
  section.technology-pic .rect {
    position: relative;
    border-top: 25px solid #fff;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    height: 0;
    width: 0;
    margin: 0 auto; }
  section.technology-pic div {
    text-align: center;
    height: 230px; }
    section.technology-pic div h2 {
      color: #fff;
      font-size: 56px;
      padding-top: 16px;
      margin-bottom: -2px;
      font-weight: 400;
      margin-top: 20px; }
      @media screen and (max-width: 500px) {
        section.technology-pic div h2 {
          margin-top: 10px;
          padding: 0; } }
    section.technology-pic div h3 {
      margin-bottom: 25px; }
    section.technology-pic div .button {
      display: inline-block;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #005db7;
      background: #86bef5;
      padding: 17px 35px;
      border-radius: 50px;
      margin-top: 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500; }
      section.technology-pic div .button:hover {
        background: #005db7;
        color: #fff; }
    @media screen and (max-width: 1500px) {
      section.technology-pic div h2 {
        font-size: 44px; } }
    @media screen and (max-width: 1200px) {
      section.technology-pic div h2 {
        font-size: 36px; }
      section.technology-pic div .button {
        font-size: 18px; } }
    @media screen and (max-width: 1000px) {
      section.technology-pic div h2 {
        font-size: 28px; }
      section.technology-pic div .button {
        font-size: 14px;
        margin-bottom: 0; } }
    @media screen and (max-width: 750px) {
      section.technology-pic div h2 {
        font-size: 22px; }
      section.technology-pic div .button {
        font-size: 10px;
        margin-bottom: 0; } }

/* --------------------- /Section Technologies-pic-end ------------------------*/
/* --------------------- /Section Technologies-start ------------------------*/
section.technology {
  margin-bottom: 50px; }
  section.technology .section-inner {
    max-width: 1250px;
    padding: 0 10px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    section.technology .section-inner .button {
      display: inline-block;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #005db7;
      background: #86bef5;
      padding: 17px 35px;
      border-radius: 50px;
      margin-top: 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      font-family: 'Cabin Condensed', sans-serif;
      font-weight: 500; }
      section.technology .section-inner .button:hover {
        background: #005db7;
        color: #fff; }
    section.technology .section-inner .lab-img {
      padding-right: 70px; }
      section.technology .section-inner .lab-img img {
        max-width: 603px;
        max-height: 715px; }
    section.technology .section-inner h2 {
      color: #005db7;
      font-size: 56px;
      display: inline-block;
      font-weight: 300;
      padding: 0;
      margin: 0;
      margin-bottom: 15px; }
      @media screen and (max-width: 500px) {
        section.technology .section-inner h2 {
          font-size: 36px;
          margin-bottom: 0; } }
    section.technology .section-inner p {
      font-size: 18px;
      padding-right: 25px;
      padding-bottom: 40px; }
      @media screen and (max-width: 500px) {
        section.technology .section-inner p {
          font-size: 16px;
          padding: 15px;
          padding-top: 0; } }
    section.technology .section-inner .lab-credit-img {
      padding-bottom: 20px; }
      @media screen and (max-width: 500px) {
        section.technology .section-inner .lab-credit-img {
          padding-bottom: 0px; } }
    section.technology .section-inner .laser-product {
      position: absolute;
      top: 69.9%;
      right: 0; }
      section.technology .section-inner .laser-product img {
        max-width: 100%;
        height: auto; }
  @media only screen and (max-width: 1800px) {
    section.technology .section-inner .laser-product {
      width: 42%; } }
  @media only screen and (max-width: 1500px) {
    section.technology .section-inner .laser-product {
      top: 71%;
      width: 35%; } }
  @media only screen and (max-width: 1350px) {
    section.technology .section-inner .laser-product {
      top: 71.5%;
      width: 31%; } }
  @media only screen and (max-width: 1200px) {
    section.technology .section-inner .laser-product {
      top: 74.3%;
      width: 21.2%; } }
  @media only screen and (max-width: 1100px) {
    section.technology .section-inner {
      display: block;
      margin: 0 auto;
      text-align: center; }
      section.technology .section-inner .lab-img {
        padding: 0 10px 25px 10px; } }
    @media only screen and (max-width: 1100px) and (max-width: 500px) {
      section.technology .section-inner .lab-img {
        padding: 0 10px 5px 0px; } }
  @media only screen and (max-width: 1100px) {
        section.technology .section-inner .lab-img img {
          max-width: 100%;
          height: auto; }
      section.technology .section-inner p {
        padding: 25px; } }
    @media only screen and (max-width: 1100px) and (max-width: 500px) {
      section.technology .section-inner p {
        padding: 15px; } }
  @media only screen and (max-width: 1100px) {
      section.technology .section-inner .laser-product {
        top: 76.7%;
        width: 35%; } }
  @media only screen and (max-width: 1000px) {
    section.technology .section-inner .laser-product {
      top: 78.6%;
      width: 35%; } }
  @media only screen and (max-width: 850px) {
    section.technology .section-inner .laser-product {
      top: 78.7%;
      width: 35%; } }
  @media only screen and (max-width: 800px) {
    section.technology .section-inner .laser-product {
      top: 78.6%;
      width: 35%; } }
  @media only screen and (max-width: 750px) {
    section.technology .section-inner .laser-product {
      top: 78.9%;
      width: 35%; } }
  @media only screen and (max-width: 650px) {
    section.technology .section-inner .laser-product {
      top: 77.3%;
      width: 35%; } }
  @media only screen and (max-width: 550px) {
    section.technology .section-inner .laser-product {
      top: 72.8%;
      width: 35%; } }
  @media screen and (max-width: 500px) {
    section.technology .section-inner .laser-product {
      top: 74.4%;
      width: 35%; } }
  @media only screen and (max-width: 450px) {
    section.technology .section-inner .laser-product {
      top: 73.5%;
      width: 35%; } }

/* --------------------- /Section Technologies-end ------------------------*/
/* --------------------- /Section Lorem-start ------------------------*/
section.lorem {
  background: #005db7; }
  section.lorem .section-inner {
    max-width: 1250px;
    padding: 0 10px;
    width: 100%;
    margin: auto;
    color: #fff;
    text-align: center; }
  section.lorem h2 {
    font-size: 56px;
    font-weight: 400;
    display: inline-block;
    margin: 80px 0 15px 0; }
    @media screen and (max-width: 500px) {
      section.lorem h2 {
        font-size: 36px;
        margin-bottom: 5px;
        margin-top: 20px; } }
  section.lorem p {
    font-size: 18px;
    color: #86bef5;
    margin-bottom: 40px; }
    @media screen and (max-width: 500px) {
      section.lorem p {
        font-size: 16px;
        margin-bottom: 20px; } }
  section.lorem .button {
    display: inline-block;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #005db7;
    background: #86bef5;
    padding: 17px 35px;
    border-radius: 50px;
    margin-top: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 90px; }
    section.lorem .button:hover {
      background: #005db7;
      color: #fff; }
    @media screen and (max-width: 500px) {
      section.lorem .button {
        font-size: 16px;
        margin-bottom: 20px; } }

/* --------------------- /Section Lorem-end ------------------------*/
/* --------------------- /Footer -Start ------------------------*/
footer {
  background: #f5f5f5; }
  footer .section-inner {
    max-width: 1250px;
    padding: 0 10px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    margin-bottom: 100px; }
    @media screen and (max-width: 500px) {
      footer .section-inner {
        margin-bottom: 0; } }
    footer .section-inner h4 {
      font-size: 20px;
      color: #005db7;
      font-weight: 500;
      padding-bottom: 5px; }
    footer .section-inner .site-map a, footer .section-inner .services a {
      display: block;
      padding-bottom: 15px; }
    footer .section-inner .active-map {
      color: #4a9ff0; }
    footer .section-inner .contact-for {
      color: #4a9ff0; }
    footer .section-inner .contact-us span {
      display: inline-block;
      margin-bottom: 10px; }
    footer .section-inner .location {
      width: 40%; }
      footer .section-inner .location #map {
        height: 190px; }
  footer .footer {
    background: #fff;
    padding: 20px; }
    footer .footer .footer-inner {
      max-width: 1250px;
      padding: 0 10px;
      width: 100%;
      margin: auto;
      position: relative;
      font-size: 16px;
      padding-bottom: 20px; }
      @media screen and (max-width: 500px) {
        footer .footer .footer-inner {
          padding-bottom: 0; } }
      footer .footer .footer-inner a {
        position: absolute;
        right: 0; }
  @media only screen and (max-width: 1200px) {
    footer .section-inner .site-map {
      display: none; }
    footer .section-inner .contact-us {
      margin-right: 20px; } }
  @media only screen and (max-width: 1100px) {
    footer .section-inner {
      margin-bottom: 0; }
      footer .section-inner .services {
        display: none; } }
  @media only screen and (max-width: 550px) {
    footer .section-inner .services {
      display: none; }
    footer .section-inner .location {
      width: 100%;
      display: block; } }
  @media screen and (max-width: 500px) {
    footer .footer .footer-inner .footer-text {
      display: block;
      text-align: center; }
    footer .footer .footer-inner a {
      left: 57%;
      margin-top: 20px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    footer .footer .footer-inner a img {
      display: block;
      text-align: center; } }

/* --------------------- /Footer -End ------------------------*/
section.top .container .items .title {
  font-size: 56px;
  color: white;
  display: inline;
  margin: 0 auto;
  top: 12.5%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.container-about {
  width: 100%;
  text-align: center; }
  .container-about h2 {
    font-size: 56px;
    color: white; }

.section-about div.section-inner {
  margin: 0 auto; }
  .section-about div.section-inner h3 {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 80px 10px 0 10px;
    margin-bottom: 30px; }
  .section-about div.section-inner p {
    font-size: 18px;
    padding: 0 10px 0 10px;
    text-align: center;
    margin-bottom: 130px; }
  .section-about div.section-inner div.item {
    position: absolute;
    width: 100%;
    height: auto;
    top: 6%;
    left: 0; }
    .section-about div.section-inner div.item img {
      width: 75%; }
  @media screen and (max-width: 1700px) {
    .section-about div.section-inner div.item {
      top: 17%; } }
  @media screen and (max-width: 1600px) {
    .section-about div.section-inner div.item {
      top: 20%; }
      .section-about div.section-inner div.item img {
        width: 65%; } }
  @media screen and (max-width: 1500px) {
    .section-about div.section-inner div.item {
      top: 26%; }
      .section-about div.section-inner div.item img {
        width: 50%; } }
  @media screen and (max-width: 1400px) {
    .section-about div.section-inner div.item {
      top: 30%; }
      .section-about div.section-inner div.item img {
        width: 45%; } }
  @media screen and (max-width: 1250px) {
    .section-about div.section-inner div.item {
      top: 32%; }
      .section-about div.section-inner div.item img {
        width: 45%; } }
  @media screen and (max-width: 1200px) {
    .section-about div.section-inner div.item {
      top: 34%; }
      .section-about div.section-inner div.item img {
        width: 45%; } }
  @media screen and (max-width: 1000px) {
    .section-about div.section-inner div.item {
      top: 37%; }
      .section-about div.section-inner div.item img {
        width: 45%; } }
  @media screen and (max-width: 900px) {
    .section-about div.section-inner div.item {
      top: 32%; }
      .section-about div.section-inner div.item img {
        width: 75%; } }
  @media screen and (max-width: 800px) {
    .section-about div.section-inner div.item {
      top: 36%; }
      .section-about div.section-inner div.item img {
        width: 75%; } }
  @media screen and (max-width: 700px) {
    .section-about div.section-inner div.item {
      top: 38%; }
      .section-about div.section-inner div.item img {
        width: 75%; } }
  @media screen and (max-width: 600px) {
    .section-about div.section-inner div.item {
      top: 39%; }
      .section-about div.section-inner div.item img {
        width: 70%; } }
  @media screen and (max-width: 550px) {
    .section-about div.section-inner div.item {
      top: 35%; }
      .section-about div.section-inner div.item img {
        width: 70%; } }
  @media screen and (max-width: 500px) {
    .section-about div.section-inner div.item {
      top: 37%; }
      .section-about div.section-inner div.item img {
        width: 70%; } }
  @media screen and (max-width: 450px) {
    .section-about div.section-inner div.item {
      top: 40%; }
      .section-about div.section-inner div.item img {
        width: 70%; } }

@media screen and (max-width: 600px) {
  .section-about div.section-inner h3 {
    padding: 25px 10px 0 10px; }
  .section-about div.section-inner p {
    margin-bottom: 30px; } }

section.technology-pic-about {
  background: url("../../images/about/technology-pic.png") no-repeat center 100%;
  height: 403px;
  text-align: center;
  z-index: 1000; }
  section.technology-pic-about h2 {
    color: #fff;
    font-size: 56px;
    padding-top: 16px;
    font-weight: 400;
    margin-top: 55px;
    padding-top: 20px;
    margin-bottom: 50px; }
  section.technology-pic-about p {
    color: #ffffff;
    font-size: 18px; }
  @media screen and (max-width: 600px) {
    section.technology-pic-about div {
      color: h2;
        color-font-size: 36px;
        color-margin-top: 25px;
        color-margin-bottom: 20px; }
      section.technology-pic-about div p {
        font-size: 16px;
        padding: 0 5px; } }
