section.top{
    padding-top: 50px;
    .container{
        height:100%;
        .items{
            position: relative;
            display:inline-block;
            .title-about{
                font-size: $font-big-h;
                color: white;
                display: inline;
                margin: 0 auto;
                top: 50%;
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                @media screen and(max-width:1200px){
                    font-size:$font-medium-h;
                }
                @media screen and(max-width:800px){
                    font-size:$font-small-h;
                }
                @media screen and(max-width:600px){
                    font-size:$font-smallest-h;
                }
            }
            .about-head-pic{
                max-width:100%;
                height:auto;
            }
        }
    }
}
section#about-top{
    margin-bottom:0;
}

.container-about{
    width:100%;
    text-align:center;
    h2{
        font-size: $font-big-h;
        color:white;
    }
}

.section-about{
    div.section-inner{
        margin: 0 auto;
        h3{
            display:block;
            width:100%;
            margin: 0 auto;
            font-size:20px;
            font-weight:500;
            text-align:center;
            padding:80px 10px 0 10px;
            margin-bottom:30px;
           
        }
        p.section-about-p{
            font-size:18px;
            padding:0 10px 0 10px;
            text-align: center;
            margin-bottom:130px;
            @media screen and(max-width:800px){
                font-size:16px;
            }
        }
        div.item{
            position: absolute;
            width: 100%;
            height: auto;
            top: 6%;
            left: 0;
            z-index:-1;
            opacity: 0;
            // animation: 2s ease-in  slideInFromLeft;
            animation: 5s ease-in 0.1s 1 slideInFromLeft forwards;
            img{
                width:75%;
            }
        }
        @media screen and(max-width:1700px){
            div.item{
                top:17%;
            }
        }
        @media screen and(max-width:1600px){
            div.item{
                top:20%;
                img{
                    width:65%;
                }
            }
        }
        @media screen and(max-width:1500px){
            div.item{
                top:26%;
                img{
                    width:50%;
                }
            }
        }
        @media screen and(max-width:1400px){
            div.item{
                top:30%;
                img{
                    width:45%;
                }
            }
        }
        @media screen and(max-width:1250px){
            div.item{
                top:32%;
                img{
                    width:45%;
                }
            }
        }
        @media screen and(max-width:1200px){
            div.item{
                top:34%;
                img{
                    width:45%;
                }
            }
        }
        @media screen and(max-width:1000px){
            div.item{
                top:37%;
                img{
                    width:45%;
                }
            }
        }
        @media screen and(max-width:900px){
            div.item{
                top:32%;
                img{
                    width:75%;
                }
            }
        }
        @media screen and(max-width:800px){
            div.item{
                top:36%;
                img{
                    width:75%;
                }
            }
        }
        @media screen and(max-width:700px){
            div.item{
                top:38%;
                img{
                    width:75%;
                }
            }
        }
        @media screen and(max-width:600px){
            div.item{
                top:39%;
                img{
                    width:70%;
                }
            }
        }
        @media screen and(max-width:550px){
            div.item{
                top:35%;
                img{
                    width:70%;
                }
            }
        }
        @media screen and(max-width:500px){
            div.item{
                top:37%;
                img{
                    width:70%;
                }
            }
        }
        @media screen and(max-width:450px){
            div.item{
                top:40%;
                img{
                    width:70%;
                }
            }
        }
    }
    @media screen and(max-width:600px){
        div.section-inner{
            h3{
                padding:25px 10px 0 10px;
            }
            p{
                margin-bottom: 30px;
            }
            // div.item{}
        }
    }
}
section.technology-pic-about{
    background:url("../images/about/technology-pic.png")no-repeat center 100%;
    height: 403px;
    text-align: center;
    z-index: 1000;
    max-width: 100%;
    height:auto;
        h2{
            color: #fff;
            font-size: $font-big-h;
            font-weight: 400;
            padding-top: 20px;
            margin: 55px 0 50px 0;
            @media screen and(max-width:1200px){
                font-size:$font-medium-h;
                padding-top: 16px;
                margin: 35px 0 35px 0;
            }
            @media screen and(max-width:800px){
                font-size:$font-small-h;
                padding-top: 12px;
                margin: 30px 0 30px 0;
            }
            @media screen and(max-width:600px){
                font-size:$font-smallest-h;
                padding-top: 8px;
                margin: 25px 0 25px 0;
            }
        }
        p{
            color:#ffffff;
            font-size:$font-medium-p;
            padding:0 5%;
            margin-bottom: 70px;
            @media screen and(max-width:1200px){
                font-size:$font-small-p;
            }
            @media screen and(max-width:800px){
                font-size:$font-smallest-p;
            }
        }
    @media screen and(max-width:600px){
        div{
            color:
            h2{
                font-size:36px;
                margin-top:25px;
                margin-bottom:20px;
            }
            p{
                font-size:16px;
                padding: 0 5px;
            }
        }
    }
}