@-webkit-keyframes slideInFromLeft{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromLeft{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromRight{
    0%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
        opacity:0;
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
        opacity:1;
    }
}

@keyframes slideInFromRight{
    0%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
        opacity:0;
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
        opacity:1;
    }
}