section.section-about{
    .section-inner{
        .laser-content{
            .laser{
                .form-box{
                    margin: 0 auto;
                    text-align:center;
                    background:#4a9ff0;
                    height:660px;
                    width:890px
                }
            }
        }
    }
}
