/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
	position: relative;
	overflow: visible;
	margin-bottom: 80px;
	width: 100%;
	@supports (-ms-ime-align: auto){//edge slider whitespace fix
			overflow:hidden;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {//IE Slider fix
			overflow:hidden;
	}
	.decor {
		position: absolute;
		right: 0;
		top: 60%;
		z-index: 2;
		width:30%;
		opacity:0;
		animation: 3s ease-in 0.1s 1 slideInFromRight forwards;
		img{
			width: 100%;
		}
	}
	.slider{
		position: relative;
		.item{
			img{
				min-height:360px;
			}
		}
	}
	.section-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		.container {
			width: 50%;
			margin-right: 0;
			margin-left: auto;
		}
		.title {
			@include f-sb;
			font-size: 56px;
			line-height: 50px;
			color: #005db7;
			text-transform: uppercase;
			span{
				font-size:55px;
			}

		}

		.text {
			@include f-r;
			font-size: 28px;
			color: #393939;
		}

		.button {
			@include button;
			@include f-m;
		}

	}
	@media screen and (max-width:800px){
		.slider{
			.item{
				img{
					width:auto;
					height:360px;
				}
			}
			&::after{
				position: absolute;
				content: "";
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(0,0,0,0.4);
			}
		}
		.decor {
			top: 95%;
		}
		.section-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			.container {
				width: 100%;
				margin-right: 0;
				margin-left: auto;
				text-align: center;
			}
			.title{
				color:#fafafa;
			}
			.text{
				color:lightgrey;
			}
		}
	}
	@media screen and (max-width:800px){
		.decor {
			top: 117%;
		}
	}
	@media screen and (max-width:1100px){
		margin-bottom: 0;
		.section-inner {
			.title {
				font-size: 36px;
				line-height: 36px;
				span{
					font-size:35px;
				}
			}
			.text{
				font-size:18px;
			}
		}
	}
}
@supports (-ms-ime-align: auto){//edge slider whitespace fix
	.section.slider-top{
		overflow:hidden;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {//IE Slider fix
	.section.slider-top{
		overflow:hidden;
	}
}



/* --------------------- /Section slider-top ---------------------- */


/* --------------------- /Section Services ------------------------*/
.section-services{
	@media screen and(max-width:1100px){
		margin-bottom: 0;
	}
	//border : 3px solid black;
	margin-bottom: 135px;
		.section-inner {
			max-width: 1250px;
			padding: 0 10px;
			width: 100%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			height: 100%;
			.service-text{
				// margin-right:50px;
				width:39%;
				h2{
					color:#005DB7;
					text-transform: uppercase;
					font-size:56px;
					margin-bottom: 30px;

				};
				p{
					font-size:18px;
					margin-bottom: 33px;
				};
				.button {
					@include button;
					@include f-m;
			};
			.product{
				position: absolute;
				z-index: -1;
				top: 31%;
				left: 0px;
				animation: 3s ease-in 0.1s 1 slideInFromLeft forwards;
				img{
					width:85%;
				}
				@media screen and (max-width:1800px){
					top:28.5%;
					img{
						width:80%;
					}
				}
				@media screen and (max-width:1700px){
					top:27%;
					img{
						width:75%;
					}
				}
				@media screen and (max-width:1550px){
					top:26.5%;
					img{
						width:67%;
					}
				}
				@media screen and (max-width:1400px){
					top:26.3%;
					img{
						width:62%;
					}
				}
				@media screen and (max-width:1300px){
					top:26%;
					img{
						width:53%;
					}
				}
				@media screen and (max-width:1200px){
					top:25.5%;
					img{
						display: none;
					}
				}
			}
		}
		.service-list{
			display: flex;
			justify-content: space-between;
			flex-flow: column nowrap;

			.service-list-uppper{
				display:flex;
				justify-content: space-evenly;
				margin:0 auto;
					.item{
						z-index: 3;
					    width: 221px;
						height: 261px;
						background: rgb(245,245,245) ;//todo change to #f5f5f5
						padding: 5px;
						display: flex;
						justify-content: space-evenly;
						flex-flow: column nowrap;
						align-items: center;
						margin-bottom: 15px;
						transition: 0.5s;
						padding:0px;
						img{
							height: 84px;
						}
					}
					@supports (-ms-ime-align: auto){
						.item{
							justify-content: space-around;
						}
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
						.item{
							justify-content: space-around;
						}
				   }
					.item:nth-child(2){
						margin-right: 7.5px;
						margin-left: 7.5px;
					}
					.item:hover{
						background:#86bef5;
						color:#fff;
					}

			}
			@supports (-ms-ime-align: auto){
				.service-list-bottom{
					justify-content: space-around;
				}
			}
			.service-list-bottom{
				display:flex;
				justify-content: space-evenly;
				margin: 0 auto;
					.item{
						z-index: 3;
						width: 221px;
						height: 261px;
						background: rgb(245,245,245);//todo change to #f5f5f5
						padding: 5px;
						display: flex;
						justify-content: space-evenly;
						flex-flow: column nowrap;
						align-items: center;
						padding:0px;
						transition: 0.5s;
						.service-img{
							max-height: 84px;
							height:84px;
						}
					}
					@supports (-ms-ime-align: auto){
						.item{
							justify-content: space-around;
						}
					}
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
						.item{
							justify-content: space-around;
						}
				   }
					.item:nth-child(2){
						margin-right: 7.5px;
						margin-left: 7.5px;
					}
					.item:hover{
						background:#86bef5;
						color:#fff;
					}

			}
			@supports (-ms-ime-align: auto){
				.service-list-bottom{
					justify-content: space-around;
				}
			}
		}
	}
	@media screen and (max-width:1000px){
		.service-h2{
			color:#005DB7;
			font-size:48px;
			text-align: center;
		}
		.section-inner {
			width:100%;
			flex-flow: column-reverse wrap;
			.service-text{
				width:100%;
				.button{
					margin-bottom: 20px;
				}
			};
			.service-list{
				width:100%;
				margin-bottom: 25px;
			}

		}
}
	@media screen and (max-width:700px){
		.section-inner {
			.service-text{
				h2{
					font-size:42px;
				}
			}
			.service-list{
				.service-list-uppper{
					.item{
						z-index: 3;
						width: 200px;
						height: 144px;
						padding: 3px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:16px;
						}
					}
				}
				.service-list-bottom{
					.item{
						width: 200px;
						height: 144px;
						padding: 3px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:16px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width:600px){
		.section-inner {
			.service-text{
				h2{
					font-size:42px;
				}
			}
			.service-list{
				.service-list-uppper{
					.item{
						z-index: 3;
						width: 180px;
						height: 130px;
						padding: 3px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:16px;
						}
					}
				}
				.service-list-bottom{
					.item{
						width: 180px;
						height: 130px;
						padding: 3px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:16px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width:550px){
		.section-inner {
			.service-text{
				h2{
					font-size:32px;
					margin: 15px 0 15px 0;
				}
				p{
					font-size: 16px;
					margin-bottom:12px;
				}
			}
			.service-list{
				.service-list-uppper{
					.item{
						z-index: 3;
						width: 160px;
						height: 115px;
						padding: 2px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:13px;
						}
					}
				}
				.service-list-bottom{
					.item{
						width: 160px;
						height: 115px;
						padding: 2px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:13px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width:500px){
		.section-inner {
			.service-text{
				h2{
					font-size:32px;
					margin: 15px 0 15px 0;
				}
				p{
					font-size: 16px;
					margin-bottom:12px;
				}
			}
			.service-list{
				.service-list-uppper{
					margin:0;
					.item{
						z-index: 3;
						width: 140px;
						height: 110px;
						padding: 2px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:11px;
						}
					}
				}
				.service-list-bottom{
					margin:0;
					.item{
						width: 140px;
						height: 110px;
						padding: 2px;
						margin-bottom: 5px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:11px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width:500px){
		.section-inner {
			.service-text{
				h2{
					font-size:32px;
					margin: 15px 0 15px 0;
				}
				p{
					font-size: 16px;
					margin-bottom:12px;
				}
			}
			.service-list{
				.service-list-uppper{
					.item{
						z-index: 3;
						width: 120px;
						height: 110px;
						padding: 2px;
						margin-bottom: 15px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:11px;
						}
					}
				}
				.service-list-bottom{
					.item{
						width: 120px;
						height: 110px;
						padding: 2px;
						margin-bottom: 15px;
						img{
							height: 60px;
							width:auto;
						}
						span{
							font-size:11px;
						}
					}
				}
			}

		}
	}


}

/* --------------------- /Section services-end ---------------------- */


/* --------------------- /Section about-start ------------------------*/

section.about{
	background: rgb(245,245,245);
	.section-inner{
			max-width: 1250px;
			padding: 0 10px;
			width: 100%;
			margin: auto;
			padding-bottom: 50px;
		h2{
			color:#005DB7;
			text-transform: uppercase;
			font-size:56px;
			text-align: center
		}
		h3{
			font-size:20px;
			text-align:center;
		}
		p{
			font-size:18px;
			text-align:center;
		}
		@media screen and (max-width:500px){
			h2{
				font-size:36px;
				margin: 15px 0 15px 0;
			}
		}
	}
}
/* --------------------- /Section about-end ------------------------*/
/* --------------------- /Section Technologies-pic-start ------------------------*/

section.technology-pic{
	background:url("../images/Technologies.png")no-repeat center 100%;;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin-bottom:80px;
	@media screen and(max-width:500px){
		height:190px;
		margin-bottom: 15px;
	}
	div.section-inner{
		margin:0 auto;
		.rect{
			position: relative;
			border-top: 25px solid #fff;
			border-right: 30px solid transparent;
			border-left: 30px solid transparent;
			height: 0;
			width: 0;
			margin: 0 auto;
		}
	
		div{
			text-align: center;
			height: 230px;
			h2{
				color:#fff;
				font-size:52px;
				padding-top:16px;
				margin-bottom: -2px;
				font-weight: 400;
				margin-top: 20px;
				@media screen and(max-width:500px){
					margin-top: 10px;
					padding:0;
				}
			}
			h3{
				margin-bottom: 25px;
			}
			.button {
				@include button;
				@include f-m;
			}
			@media screen and (max-width:1500px){
				h2{
					font-size:44px
				}
			}
			@media screen and (max-width:1200px){
				h2{
					font-size:36px
				}
				.button{
					font-size: 18px;
				}
			}
			@media screen and (max-width:1000px){
				h2{
					font-size:28px
				}
				.button{
					font-size: 14px;
					margin-bottom: 0;
				}
			}
			@media screen and (max-width:750px){
				h2{
					font-size:22px
				}
				.button{
					font-size: 10px;
					margin-bottom: 0;
				}
			}
		}
	}
}

/* --------------------- /Section Technologies-pic-end ------------------------*/

/* --------------------- /Section Technologies-start ------------------------*/

section.technology{
	margin-bottom: 50px;
	.section-inner{
		max-width: 1250px;
		padding: 0 10px;
		width: 100%;
		margin: auto;
		display: flex;
		flex-flow: row nowrap;
		.button{
			@include button;
			@include f-m;
		}
		.lab-img{
			padding-right: 70px;
			img{
				max-width:603px;
				max-height:715px;
			}
		}
		h2{
		    color: #005db7;
			font-size: 56px;
			display: inline-block;
			font-weight: 300;
			padding: 0;
			margin: 0;
			margin-bottom: 15px;
			@media screen and(max-width:500px){
				font-size: 36px;
				margin-bottom:0;
			}
		}
		p{
			font-size:18px;
			padding-right:25px;
			padding-bottom: 40px;
			@media screen and(max-width:500px){
				font-size: 16px;
				padding:15px;
				padding-top:0;
			}
		}
		.lab-credit-img{
			padding-bottom: 20px;
			@media screen and(max-width:500px){
				padding-bottom: 0px;
			}
		}
		.laser-product{
			position: absolute;
			top: 69.9%;
			right: 0;
			img{
				max-width: 100%;
				height:auto;
			}
		}
	}
		@media only screen and (max-width : 1800px) {
			.section-inner{
				.laser-product{
					width: 42%;
				}
			}
		}
		@media only screen and (max-width : 1500px) {
			.section-inner{
				.laser-product{
					top:71%;
					width: 35%;

				}
			}
		}
		@media only screen and (max-width : 1350px) {
			.section-inner{
				.laser-product{
					top:71.5%;
					width: 31%;

				}
			}
		}
		@media only screen and (max-width : 1200px) {
			.section-inner{
				.laser-product{
					top: 74.3%;
					width: 21.2%;
				}
			}
		}

		@media only screen and (max-width : 1100px) {
			.section-inner{
				display: block;
				margin: 0 auto;
				text-align: center;
				.lab-img{
					padding:0 10px 25px 10px;
					@media screen and(max-width:500px){
						padding: 0 10px 5px 0px
					}
					img{
						max-width: 100%;
						height:auto;
					}
				}
				p{
					padding:25px;
					@media screen and(max-width:500px){
						padding: 15px;
					}
				}
				.laser-product{
					top: 76.7%;
					width: 35%;
				}
			}


	}
	@media only screen and (max-width : 1000px) {
		.section-inner{
			.laser-product{
				top: 78.6%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 850px) {
		.section-inner{
			.laser-product{
				top: 78.7%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 800px) {
		.section-inner{
			.laser-product{
				top: 78.6%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 750px) {
		.section-inner{
			.laser-product{
				top: 78.9%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 650px) {
		.section-inner{
			.laser-product{
				top: 77.3%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 550px) {
		.section-inner{
			.laser-product{
				top: 72.8%;
				width: 35%;
			}
		}
	}
	@media screen and(max-width:500px){
		.section-inner{
			.laser-product{
				top: 74.4%;
				width: 35%;
			}
		}
	}
	@media only screen and (max-width : 450px) {
		.section-inner{
			.laser-product{
				top: 73.5%;
				width: 35%;
			}
		}
	}
}
/* --------------------- /Section Technologies-end ------------------------*/

/* --------------------- /Section Lorem-start ------------------------*/
section.lorem{
	background:#005db7;
	.section-inner{
		max-width: 1250px;
		padding: 0 10px;
		width: 100%;
		margin: auto;
		color: #fff;
		text-align:center;
	}
	h2{
		font-size:56px;
		font-weight:400;
		display: inline-block;
		margin: 80px 0 15px 0;
		@media screen and(max-width:500px){
			font-size:36px;
			margin-bottom:5px;
			margin-top: 20px;
		}
	}
	p{
		font-size:18px;
		color: #86bef5;
		margin-bottom: 40px;
		@media screen and(max-width:500px){
			font-size: 16px;
			margin-bottom:20px;
		}
	}
	.button{
		@include button;
		text-transform: uppercase;
		margin-bottom:90px;
		@media screen and(max-width:500px){
			font-size:16px;
			margin-bottom: 20px;
		}
	}
}
/* --------------------- /Section Lorem-end ------------------------*/


